body {
  background-color: #f2f2f2;
  overflow: hidden;
}
.header-logo {
  position: absolute;
  top: 20px; /* Ajuste a distância do topo conforme necessário */
  left: 70px; /* Ajuste a distância da esquerda conforme necessário */
  z-index: 10; /* Garante que o logo fique por cima de outros elementos */
}

.header-logo .logo {
  max-width: 180px; /* Ajuste o tamanho do logo conforme necessário */
  width:100%;
  height:auto;
}
main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 80vh;
  background: linear-gradient(92deg, #f2f2f2 25%, rgba(0, 0, 0, 0) 75%) no-repeat;
}

main .personagem {
  display: none;
  height: 100vh;
}

main .personagem.selecionado {
  display: block;
}

main .personagem .imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteudo {
  position: absolute;
  top: 0;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 380px;
  z-index: 1;
}

.conteudo .passoapasso {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px; 
}

.conteudo .passoapasso img {
  width: 1080px;
  max-width: 80vw;
  height: auto;
  margin-left: -50px;
}


.conteudo .titulo {
  color: #545454;
  font-size: 48px;
  font-family: "Secular One";
  font-weight: 400;
  margin-bottom: 20px;
}

.conteudo .descricao {
  color: #545454;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 24px;
}

.botoes {
  background-color: rgba(201, 127, 57, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 16px;
}

.botoes .botao {
  border: none;
  background-color: transparent;
  width: 90px;
  height: 90px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.botoes .botao img {
  border-radius: 50%;
}

.botoes .botao.selecionado {
  transform: scale(1.2);
  box-shadow: 0 0 10px #d9d9d9;
}

.botoes .botao.pagina1.selecionado {
  box-shadow: 0 0 10px #d5520a;
}

.botoes .botao.pagina2.selecionado {
  box-shadow: 0 0 10px #f9620f;
}

.botoes .botao.pagina3.selecionado {
  box-shadow: 0 0 10px #ffa947;
}

.botoes .botao.pagina4.selecionado {
  box-shadow: 0 0 10px #ff914d;
}

.botoes .botao.pagina5.selecionado {
  box-shadow: 0 0 10px #ffda3a;
}
